@import './importantImport.scss';


body {
    font-family: 'jetbrains_mono';
    font-size: 24px;
    font-weight: bold;
    color: $brighter-Orange;
    background-color: $normal-Purple;
    margin: 0px;
}