body {
  font-family: "source_code_proextralight", monospace;
  font-size: 24px;
  font-weight: 700;
  color: #ffaf00;
  background-color: #1e1e3c;
  margin: 0px;
}

.navbar {
  height: 56px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  background-color: #141428;
}
.navbar .links {
  margin-left: 24px;
  display: flex;
  align-self: center;
}
.navbar .links a {
  margin-right: 24px;
  text-decoration: none;
  color: #ffaf00;
}
.navbar img {
  height: 44px;
  margin: 6px 6px 6px 16px;
}

.header {
  margin: 32px auto auto 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.toolLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px auto 16px auto;
}
.toolLinks a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  margin: 16px 0px;
}

.textBoxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px auto 0 auto;
  height: -moz-fit-content;
  height: fit-content;
}
.textBoxes textarea {
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  color: #ffaf00;
  text-align: left;
  background-color: #323264;
  border: inset;
  min-height: 300px;
  width: 90%;
  max-width: 500px;
  padding: 16px;
  box-shadow: 3px 3px 5px 3px rgb(0, 17, 51);
  border: 5px inset #ffaf00;
  resize: none;
}
.textBoxes textarea:focus-visible {
  outline: none;
  border-color: #ff7700;
  transition-duration: 0.3s;
}
.textBoxes #textBoxInput {
  margin: 24px 16px 24px 64px;
}
.textBoxes #textBoxOutput {
  margin: 24px 64px 24px 16px;
}

.checkInputs {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  font-size: 20px;
}
.checkInputs label {
  margin: auto auto;
  height: 48px;
}
.checkInputs label span {
  justify-content: left;
  position: relative;
  font-size: 20px;
  top: -17px;
  left: -16px;
}
.checkInputs label span:first-of-type {
  position: relative;
  left: -51.5px;
  top: -15.5px;
  font-size: 32px;
  font-weight: 900;
  color: #1e1e3c;
}
.checkInputs input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: linear-gradient(90deg, #ffaf00, #ff9900, #ff7700, #ff6000, #ff5000);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.3s;
  font-size: 24px;
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
  border: none;
  box-shadow: 3px 3px 3px 2px rgb(0, 17, 51);
  border-radius: 32px;
  color: #323264;
  margin: 8px auto;
  height: 32px;
  width: 64px;
}
.checkInputs input:checked {
  background-position: center;
  box-shadow: inset 0 0 5px rgb(0, 17, 51);
  transition-duration: 0.1s;
}
.checkInputs input:hover {
  background-position: center;
  transition-duration: 0.2s;
}
.checkInputs input:active {
  background-position: right;
  transition-duration: 0.2s;
}

#buttonSubmit {
  background-image: linear-gradient(90deg, #ffaf00, #ff9900, #ff7700, #ff6000, #ff5000);
  background-size: 200%;
  background-position: left;
  transition: background-position 0.3s;
  font-size: 24px;
  font-family: inherit;
  font-weight: 900;
  border: none;
  box-shadow: 3px 3px 5px 3px rgb(0, 17, 51);
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  color: #323264;
  justify-content: center;
  margin: 32px auto 64px auto;
  height: 64px;
  width: 128px;
}
#buttonSubmit:hover {
  background-position: center;
  transition-duration: 0.2s;
}
#buttonSubmit:active {
  background-position: right;
  transition-duration: 0.2s;
}/*# sourceMappingURL=elements.css.map */